* {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.center {
    text-align: center;
    border: 8px double #ff5e9c;
}

h1, h3 {
    background-color: #ff5e9c;
    color: white;
}

.subtitle {
    color: rgb(85, 85, 85);
}

div .subtitle {
    font-size: 22px;
}

a {
    background: #ff5e9c;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    height: 40px;
    padding: 12px;
    vertical-align: top;
    margin-bottom: 12px;
}

a:hover {
    background: rgb(255, 174, 188);
}
